.git
.gitignore
.dockerignore

node_modules
backend/node_modules
frontend/node_modules
chatbot/node_modules

backend/.env
frontend/.env
chatbot/.env
.env
.env.local
.env.production

*.log
backend-web.log
backend-web.err.log
frontend-web.log
frontend-web.err.log
npm.log
npm.err.log

AgendaBarber-debug.apk

chatbot/.wwebjs_auth
chatbot/.wwebjs_cache

frontend/dist
frontend/android/.gradle
frontend/android/.gradle-home
frontend/android/.android-home
frontend/android/local.properties
frontend/android/build
frontend/android/app/build
frontend/android/capacitor-cordova-android-plugins
frontend/android/capacitor-cordova-android-plugins-firebase
